<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Log In</h2>
      </div>
      <div class="card-body">
        <%= form_with(url: login_path, local: true) do |f| %>
          <div class="mb-3">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, class: 'form-control', required: true %>
          </div>
          
          <div class="mb-3">
            <%= f.label :password, class: 'form-label' %>
            <%= f.password_field :password, class: 'form-control', required: true %>
          </div>
          
          <div class="mb-3 form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
          
          <div class="text-center">
            <%= f.submit 'Log In', class: 'btn btn-primary btn-lg w-100' %>
          </div>
        <% end %>
        
        <hr class="my-4">
        
        <div class="text-center mb-3">
          <p class="text-muted">Or sign in with</p>
        </div>
        
        <div class="d-grid gap-2">
          <%= link_to '/auth/google_oauth2', class: 'btn btn-outline-danger' do %>
            <i class="bi bi-google"></i> Sign in with Google
          <% end %>
          
          <%= link_to '/auth/github', class: 'btn btn-outline-dark' do %>
            <i class="bi bi-github"></i> Sign in with GitHub
          <% end %>
          
          <%= link_to '/auth/twitter', class: 'btn btn-outline-info' do %>
            <i class="bi bi-twitter"></i> Sign in with Twitter
          <% end %>
        </div>
        
        <div class="mt-3 text-center">
          <p>Don't have an account? <%= link_to 'Sign up', new_user_path %></p>
          <p><%= link_to 'Forgot your password?', '#' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
